body {
  font-weight: 400; 
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1440px; 
  box-sizing: border-box;
  margin: auto; 
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 92px 51px;
}

.header__menu {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}

.header__links-list {
  display: flex;
  justify-content: start;
  column-gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  font-size: 18px;  
  white-space: nowrap;
  border-bottom: 1px solid;
  margin-bottom: 3px;
}

.header__link_active{
  border-bottom: none;
}

.section-header__logo {
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 148px;
  height: 105px;

}

.header__logo-image { 
  width: 100%;
  height: 100%;
}

.header__address {
  justify-self: end;
  align-self: center;
}

.address {
  display: flex;
  flex-wrap: wrap;
  max-width: 240px;
  flex-direction: column;
  font-style: normal; 
  font-size: 18px;
}

.address__link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid;
  margin-bottom: 3px;
}

.main {
  flex-grow: 1;
  max-width: 1440px;
  box-sizing: border-box;
  margin: auto;
}

.cover {
  display: grid;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: top center ;
  background-size: cover;
  color: #fff;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  padding: 165px 50px 0px 50px;
  letter-spacing: 30px;
}

.aligned-text {
  align-self: start;
  line-height: 115%
}

.aligned-text_center {
  align-self: center;
  line-height: 100%
}

.aligned-text_right {
  align-self: end;
  line-height: 100%
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: end;
  align-self: end;
  align-items: center;
  padding: 135px 50px 50px 0px;
  gap: 78px;
  font-size: 22px;
}

.cover__description-text {
  word-spacing: 1rem;
}

.bet-button {
  border: 1px solid ;
  padding: 12px 32px;
  background-color: transparent; 
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-family: Raleway;
}

.lots {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  padding-top: 180px;
  padding-left: 50px;
  padding-right: 50px;
}

.lots__heading {
  text-transform: uppercase;
  padding: 0px 0px 27px 40px;
  font-size: 40px;
}

.card {
  position: relative;
  width: 430px;
  min-height: 450px;
  
} 

.lots__card-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content:space-between;
  height: 100%;
  gap: 25px;
  flex-wrap: wrap;
}

.card_type {
  position: relative;
  background-repeat: no-repeat;
  background-position: top center ;
  background-size: cover;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg) ;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg) ;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg) ;
}

.card-link { 
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-decoration: none;
}

.lots__card-list-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;  
}

.card__title {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  padding: 50px 40px 0px 40px ;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.card__text {
  position: relative;
  font-size: 20px;
  padding: 30px 40px 50px 40px ;
}

.lots__look-more-link {
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid ;
  margin-bottom: 3px;
}

.conteiner__lots__look-more-link {
  padding: 30px 0px 2px 40px;
}

.about {
  display: grid;
  grid-template-columns:auto auto;
  grid-template-rows:auto auto;
  height: 100%;
  column-gap: 25px;
  padding: 181px 50px 0px 50px;
  grid-template-areas:  
  "about__logo about__title"
  ". about__text";
}


.about__logo {
  grid-area: about__logo;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 95px 0px 95px;
  background-color: #000;
  max-height: 240px;
  max-width: 240px;
  border-radius: 100%;
}

.about__logo-image {
  padding: 63px 46px 63px 46px;
  justify-content: center;
  align-items: center;
}

.about__title {
  grid-area: about__title;
  padding-top: 100px;
  text-transform: uppercase;
  font-size: 40px;
}

.about__text {
  grid-area: about__text;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 90px 50px;
}

.footer__menu-list-item {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.footer__menu-link {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid ;
  margin-bottom: 2px;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  max-width: 240px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  max-height: 100%;
}